<div id="message-<%= message.id %>">
  <small class="message-info" >
    <strong><%= message.sender?(current_user) ? "Moi" : User.find(message.user_id).random_nickname %></strong>
    <i class="message-hour">-<%= message.created_at.strftime("%Hh%M") %></i>
  </small>
  <p class="message-text-content"><%= message.content %></p>
</div>
