// Define variables for your color scheme

// For example:
$red: #F51128;
$darkblue: #0073FF;
$pink: #FD9CD0;
$yellow: #F9CC35;
$green: #45CF29;
$blue: #1DC1FE;

$dark: #000000;
$gray: #686868;
$lightgray: #a9a8a8;
$white: #FDFDFD;
