#chifoumi-rock-svg {
 background-image:  asset-url("svg/pierre.svg");
}

#chifoumi-paper-svg {
  background-image:  asset-url("svg/feuille.svg");
}

#chifoumi-scissors-svg {
  background-image:  asset-url("svg/ciseaux.svg");
}

.chifoumi-choices-svg {
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
}

.rock-gif {
  background-image: url("gifs/pierre.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
}

.paper-gif {
  background-image: url("gifs/feuille.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
}

.scissors-gif {
  background-image: url("gifs/ciseaux.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
}
