// COUNTER PAGE CSS
.counter-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("gifs/counter.gif");
  background-size: cover;
  justify-content: flex-start;
  background-image: black;
  text-align: center;
  position: fixed;
  top: -80px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.game-instructions {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  padding: 160px 0px 0px 0px;
}

.counter {
  text-align: center;
  margin: 10px 0px 0px 0px;
  font-size: 200px;
}
