// PROFIL PAGE CSS

//HEADER
.profil-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil-header-return {
  margin: 15px 8px;
}

.profil-number-points {
  margin: 15px 8px;
  display: flex;

  h6 {
    margin: 5px;
    font-size: 24px;
  }
}


// PICTURE
.profil-picture {
  text-align: center;
  margin: -10px 0px 20px 0px;
}

//PSEUDO
.profil-welcome-message {
  text-align: center;
  margin: 0px 60px;
}

// INFORMATION
.profil-informations-div {
  text-align: center;
  font-family: "Barlow";
  line-height: 10px;
  margin: 40px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.profil-informations-icons {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;

  .profil-classement-icon {
    padding: 5px 0px;
  }

  .profil-email-icon {
    padding: 5px 0px;
  }

  .profil-instagram-icon {
    margin: 8px 0px 0px 3px;
  }

  .profil-telephone-icon {
    margin: 12px 0px 0px 3px;
  }
}

.profil-informations-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0px;

  p {
    margin: 13px 0px;
  }
}

// BOUTON
.profil-modification-bouton {
  text-align: center;
  padding: 0px 20px;

  p {
    font-style: italic;
    margin: 8px;
    color: $lightgray;
    font-size: 15px;
    text-decoration: underline;
  }
}
