// TRIP SESSION NEW PAGE
.trip-session-new {
  padding: 20px 10px;
  height: 300px;
}

// HEADER
.trip-session-new-profile-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.trip-session-new-profile-text {
  text-align: right;
  padding: 10px 0px 0px 0px;
}

.trip-session-new-inside-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-session-new-profil-picture {
  padding: 0px 10px;
}

// BLOC INFORMATION DE LA ROOM

.trip-session-new-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 5px 25px;

  .trip-session-new-bus {
    padding: 8px 0px 3px 0px;
  }
}

.trip-session-new-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px 0px 0px 20px;
  text-align: left;
  font-size: 15px;
  line-height: 15px;
  color: #818181;
}

.trip-session-new-line {
  padding: 0px 0px 0px 0px;
}

.trip-session-new-infos-div {
  background-color: #eaeaea;
  width: 220px;
  height: 100px;
  text-align: center;
  display: flex;
  margin: 15px 30px 15px 30px;
  border-radius: 2px;
}

.trip-session-new-bonhommes {
  width: 40px;
  height: 70px;
  background-image: url("gifs/bonhommes.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin: 4px 0px 0px 0px;
}



// CARDS DE JEUX

.trip-session-new-games-cards {
  display: flex;
  justify-content: center;
  padding: 70px 5px 0px 5px;
}




// JOIN OU CREER UNE PARTIE

.trip-session-new-game-card {
  position: relative;
  padding: 0px 8px;

  .button {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-52%);
    background-color: transparent;
    border: none;
    margin: 0px;
    color: black;
  }

  .trip-session-gamer-bonhomme {
    position: absolute;
    top: -104px;
    width: 106px;
    height: 120px;
    background-image: url("gifs/gamer_bonhomme.gif");
    background-size: 90%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
}

.trip-session-new-join h2 {
  font-size: 18px;
  background-color: white;
  border-color: black;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px 0px;
  margin: 0px;
  width: 100px;
  text-align: center;
  color: black;
}

.trip-session-new-create {
  width: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  justify-content: flex-end;

  p {
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 5px;
    color: black;
  }

  h2 {
    font-size: 18px;
    background-color: white;
    border-color: black;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px 0px;
    margin: 0px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
}

.bouton-create-game {
  border: none;
  background-color: transparent;
  margin: 0px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}


// EN CONSTRUCTION

.trip-session-en-construction {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-42%);
  z-index: 3;
}
