<%= link_to(select_tile_tic_tac_toe_game_path(tile: n), id: "tile#{n}" ,data: {turbo_method: :patch, tic_tac_toe_game_subscription_target: "tile"}) do %>
  <div class="cell">
    <p><%= tic_tac_toe_game.display_cross_or_circle(n) %></p>
  </div>
<% end %>

