<div class="landing-page-general-div">
  <h1>Next Stop</h1>
  <p>Chaque bonne journée commence par un bon trajet : sociabilisez facilement dans les transports en commun</p>
  <button class="btn" type="button">Entrer</button>
</div>
