<%# LANDING PAGE %>

<div class="landing-page-general-div">
  <h1>Next Stop</h1>
  <p>Chaque bonne journée commence par un bon trajet : sociabilisez facilement dans les transports en commun</p>
  <% if user_signed_in? %>
    <%= link_to new_trip_session_path do %>
      <button class="white-yellow-btn" type="button">Entrer</button>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <button class="white-yellow-btn" type="button">Entrer</button>
    <% end %>
  <% end %>
  <%# <img id="drag1" src="/assets/gifs/ciseaux_blancs.gif" draggable="true" ondragstart="drag(event)" width="20" height="20"> %>
</div>
