
<%# LANDING PAGE %>

<div class="container">
    <p><span id="dynamic-title" data-controller="typed-js"></span></p>
  </div>

<div class="landing-page-general-div">
  <h1>Next Stop</h1>
      <p><span id="dynamic-title" data-controller="typed-js"></span></p>
  <% if user_signed_in? %>
    <%= link_to new_trip_session_path do %>
      <button class="white-yellow-btn" type="button">Entrer</button>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <button class="white-yellow-btn" type="button">Entrer</button>
    <% end %>
  <% end %>
</div>
