<%# PROFIL PAGE %>

<h2>Bonjour DOUCECRACOTTE</h2>
<h2>tu es 200e au classement</h2>
<h2><%= current_user.email %></h2>
<h2><%= current_user.social_media %></h2>
<button class = "white-btn">Changer mes informations</button>
