<%# PROFIL PAGE %>
<div class="profil-header">
  <div class="profil-header-back-button">
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
  </div>
  <div class="profil-number-points">
    <h6>Nombre de points</h6>
  </div>
</div>

<div class="profil-picture">
  <%= image_tag "svg/profil.svg", class: "profil-picture", data: { inject: { svg: "svg/profil.svg" } }, :width => 200 %>
</div>

<div class="profil-informations-div">
<h2>Bonjour DOUCECRACOTTE</h2>
<h2>tu es 200e au classement</h2>
<h2><%= current_user.email %></h2>
<h2><%= current_user.social_media %></h2>
<button class = "white-btn">Changer mes informations</button>
