<h1>Game_matches#show</h1>
<p>Find me in app/views/game_matches/show.html.erb</p>
<p>Let's play Tic Tac Toe</p>

<section>
  <p>tu joues contre</p>
  <p>petit cactus</p>
  <div class="game--container">
      <div data-cell-index="0" class="cell"></div>
      <div data-cell-index="1" class="cell"></div>
      <div data-cell-index="2" class="cell"></div>
      <div data-cell-index="3" class="cell"></div>
      <div data-cell-index="4" class="cell"></div>
      <div data-cell-index="5" class="cell"></div>
      <div data-cell-index="6" class="cell"></div>
      <div data-cell-index="7" class="cell"></div>
      <div data-cell-index="8" class="cell"></div>
  </div>
  <h2 class="game--status"></h2>
</section>
