<h1>Game_matches#show</h1>

<section>
  <p>tu joues contre</p>
  <p>petit cactus</p>
  <div class="game--container">
      <% (1..9).each do |n| %>
        <%= link_to(select_tile_tic_tac_toe_game_path(tile: "position_#{n}"), data: {turbo_method: :patch}) do %>
          <div data-cell-index=<%= n %> class="cell"><p><%= @tic_tac_toe_game.send("position_#{n}") %></p></div>
        <% end %>
      <% end %>
  </div>
  <h2 class="game--status"></h2>
</section>
