.white-btn {
  font-family: $my-font;
  color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
}

.black-btn {
  font-family: $my-font;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  height: 28px;
  padding: 0px 0px 0px 0px;
}
