// BUTTONS CSS

// OVERWRITE SUR LE BOUTON CLASSICO
.btn:hover {
  border-color: none;
  border: 0px;
}

// BOUTONS SUR FOND NOIR
.white-btn {
  font-family: $my-font;
  color: white;
  background-color: black;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
}

.white-yellow-btn {
  font-family: $my-font;
  color: white;
  background-color: black;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
}

.white-yellow-btn:focus-within {
  background-color: $yellow;
  color: black;
  border-color: black;
}

// BOUTONS SUR FOND BLANC
.black-btn {
  font-family: $my-font;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  height: 28px;
  padding: 0px 0px 0px 0px;
}

.black-blue-btn {
  font-family: $my-font;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  height: 28px;
  padding: 0px 0px 0px 0px;
}

.black-blue-btn:focus-within {
  background-color: $blue;
  color: black;
  border-color: black;
}

// CHAT

.chat-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-btn-closed-arrow-img {
  height: 30px;
  width: 18px;
  background-image: asset-url("svg/back_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.chat-btn-closed-email-img {
  height: 30px;
  width: 26px;
  background-image: asset-url("svg/email_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(270deg) !important;
}

.chat-btn-closed {
  height: 76px;
  width: 24px;
  transform: rotate(90deg);
}

.chat-btn-opened {
  transform: rotate(270deg);
}

.btn-to-display-or-hide-chat {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-fix-to-bottom {
  position:fixed;
  bottom:0;
}

#btn-chat-submit {
  height: 39px;
  padding: 0px 4px;
  margin: 0px 0px 0px 10px;
}

// REQUEST BTN
.game-match-show-reveal-div {
  width: 100%;
  background-color: black;
  border-radius: 0px;
  border-color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#révéler-mon-profil {
  border-color: white;
  text-align: center;
}

#accept-request, #decline-request {
  margin: 0px 4px;
  font-size: 14px;
}
