.hide-chat-game-match {
  display: none;
}

.btn-to-display-or-hide-chat {
  display: flex;
  justify-content: center;
}

#btn-chat-submit {
  height: 39px;
}

.btn-fix-to-bottom {
  position:fixed;
  bottom:0;
  left: 50%;
}

.title-chatroom {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

.title-chatroom > h6{
  margin: 0px;
}

.chat-game-match {
  height: 444px
}
