.chat-overlay-game {
  position: absolute;
  top: 52px;
  z-index: 9;
  background: white;
  width: 100%;
}

.hide-chat-game-match {
  display: none;
}

.title-chatroom {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

.title-chatroom > h6{
  margin: 0px;
}
