.info-request {
  display: inline-block;
  font-family: $my-font;
  color: white;
  background-color: black;
  border-radius: 5px;
}

// #accept-or-decline {
//   display: grid;
//   grid-template-columns: repeat(3);
// }
