section {
  text-align: center;
}


.tic-tac-toe-game-player-info {
  display: flex;
  justify-content: space-around;
}
.gray-text-h6 {
  color: $gray;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
  background-image: asset-url("svg/grille_morpion.svg");
  background-repeat: no-repeat;
}

.game--container > a {
  text-decoration: none;
  color: black;
}

.cell {
  font-family: $my-font;
  width: 100px;
  height: 100px;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.cell > p {
  margin: 0px;
}

.tic-tac-toe-result {
  color: #d7a62f;
  margin: 20px auto;
}
