<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué à cause d'un trop grand nombre de tentatives de connexions.</p>

<p>Cliquez sur le lien pour débloquer votre compte:</p>

<p><%= link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>
