<h1>TripSessions#new</h1>
<p>Find me in app/views/trip_sessions/new.html.erb</p>
<p>ici il y aura la possibilité de créer ou rejoindre une partie de tic tac toe dans un premier temps.</p>
<p>Nombre de personnes connectés : <%= @active_people  %></p>
<% if @trip_session != nil  %>
  <p><%= button_to("rejoindre", join_trip_session_path(@trip_session), method: :patch) %></p>
<% else %>
  <p><%= link_to "Créer", trip_sessions_path, data: {turbo_method: :post}%></p>
<% end %>
